#BookmarksPanel {
  text-align: center;
}

#BookmarksList {
  padding: 0 15px;
  overflow: auto;
  max-height: 60vh;
}

#BookmarksList .BookmarkItem {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  gap: 5px;
}

#BookmarksList .bookmarkColumnLarge {
  flex-basis: 80%;
}

#BookmarksList .bookmarkColumnSmall {
  width: 90px;
}

#BookmarksList .bookmarkFunctions {
  width: 100px;
}

#BookmarksList .bookmarkURl {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
