#nprogress .bar {
    background: #29d;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

#pagesSlider {
    margin: 10px 0;
}

#pageInputs {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

#swal2-html-container .pageInput {
    border: 1px darkblue dashed;
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
    color: black;
    max-width: 40%;
}

#swal2-title {
    color: navy;
}

button.swal2-styled {
    position: inherit;
    transform: inherit;
}
