#MangaOnlineViewer #gotoPage {
    min-width: 35px;
}

#MangaOnlineViewer #Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    transition: transform 0.3s ease-in;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: inherit;
    z-index: 900;
}

#MangaOnlineViewer #Header.click {
    position: fixed;
    top: -100%;
    padding-left: 40px;
}

#MangaOnlineViewer #Header.hover,
#MangaOnlineViewer #Header.simple {
    position: static;
}

/*#MangaOnlineViewer #Header.hover.headroom-hide,*/
#MangaOnlineViewer #Header.scroll.headroom-hide {
    transform: translateY(-100%);
}

#MangaOnlineViewer #Header.headroom-end,
#MangaOnlineViewer #Header.scroll.headroom-show,
#MangaOnlineViewer #Header.hover.visible,
#MangaOnlineViewer #Header.click.visible,
#MangaOnlineViewer #Header.fixed {
    transform: translateY(0%);
    position: sticky;
    top: 0;
}

#MangaOnlineViewer #menu {
    position: fixed;
    min-height: 70px;
    width: auto;
    top: 0;
    z-index: 1;
    color: var(--theme-body-text-color);
}

#MangaOnlineViewer #menu:not(.click, .hover),
#MangaOnlineViewer #menu.hide {
    display: none;
}

#MangaOnlineViewer #menu.hover {
    width: 100%;
}

#MangaOnlineViewer #menu.click {
    z-index: 901;
}

#MangaOnlineViewer #MangaTitle {
    padding: 2px;
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
}

#MangaOnlineViewer #GlobalFunctions {
    display: flex;
    gap: 3px;
    padding: 3px;
    flex-wrap: wrap;
    width: 300px;
    z-index: 100;
}

#MangaOnlineViewer #GlobalFunctions span,
#MangaOnlineViewer .ChapterControl span {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#MangaOnlineViewer .ChapterControl span {
    flex-grow: 1;
}

#MangaOnlineViewer .ChapterControl span > * {
    flex-basis: 50%;
}

#MangaOnlineViewer #ScrollControl .icon-tabler,
#MangaOnlineViewer #GlobalFunctions .icon-tabler {
    width: 25px;
    height: 25px;
}

#MangaOnlineViewer #GlobalFunctions #ZoomSlider {
    display: flex;
    align-items: center;
}

#MangaOnlineViewer #GlobalFunctions #Zoom {
    margin: 2px 5px;
    width: 160px;
}

#MangaOnlineViewer #GlobalFunctions #ZoomVal {
    width: 40px;
    display: inline-block;
    color: var(--theme-primary-text-color);
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: var(--theme-primary-color);
    padding: 2px 5px;
}

#MangaOnlineViewer #ChapterNavigation {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: end;
    padding: 5px;
    max-width: 350px;
}

#MangaOnlineViewer #Counters {
    padding-right: 5px;
}

#MangaOnlineViewer #ChapterControl {
    display: flex;
}

#MangaOnlineViewer #ChapterControl .NavigationControlButton {
    display: inline-flex;
    margin: 2px;
    justify-content: center;
    align-items: center;
    padding: 3px;
    gap: 0.5em;
}

#MangaOnlineViewer #ChapterControl .NavigationControlButton .icon-tabler {
    flex-shrink: 0;
    align-self: center;
    width: 1rem;
    height: 1rem;
}

#MangaOnlineViewer #ChapterControl .NavigationControlButton[href='#'],
#MangaOnlineViewer #ChapterControl .NavigationControlButton[href=''],
#MangaOnlineViewer #ChapterControl .NavigationControlButton[href='undefined'] {
    visibility: hidden;
}

#MangaOnlineViewer .ChapterControl #download.loading {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}

#MangaOnlineViewer .ChapterControl .NavigationControlButton.disabled {
    display: none;
}

#MangaOnlineViewer .ViewerTitle {
    text-align: center;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    flex-basis: 60%;
}

#MangaOnlineViewer #Header .ViewerTitle #series[href='#'],
#MangaOnlineViewer #Header .ViewerTitle #series[href=''],
#MangaOnlineViewer #Header .ViewerTitle #series[href='undefined'] {
    /*visibility: hidden;*/
}

#MangaOnlineViewer #menu .icon-tabler {
    position: absolute;
    top: 5px;
    left: 10px;
    height: 32px;
    width: 32px;
}
