#gotoPage {
  min-width: 35px;
}

#Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  transition: transform 0.3s ease-in;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: inherit;
  z-index: 900;
}

@keyframes headroom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

#Header:not(.visible) {
  animation: headroom 0.3s ease-in reverse;
  transform: translateY(-100%);
}

#Header.visible {
  animation: headroom 0.3s ease-in;
  transform: translateY(0%);
}

#Header.click {
  padding-left: 40px;
  transform: unset;
}

#Header.click:not(.visible) {
  position: fixed;
  top: -100%;
}

#Header.top {
  animation: none;
}

#Header.fixed {
  position: fixed;
  animation: none;
  top: 0;
  transform: translateY(0%);
}

#Header.simple {
  position: static;
  animation: none;
  top: 0;
  transform: translateY(0%);
}

#menu {
  position: fixed;
  z-index: 1;
  color: var(--theme-body-text-color);
  height: 40px;
  width: 40px;
}

#menu .icon-tabler {
  position: relative;
  top: 4px;
  left: 4px;
  height: 32px;
  width: 32px;
  stroke-width: 1.25;
}

#menu:not(.click, .hover),
#menu.hide {
  display: none;
}

#menu.click {
  z-index: 901;
}

#MangaTitle {
  padding: 2px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
}

#GlobalFunctions {
  display: flex;
  gap: 3px;
  padding: 3px 3px 3px 0;
  flex-wrap: wrap;
  width: 300px;
  z-index: 100;
}

.ChapterControl span,
#GlobalFunctions span {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.ChapterControl span {
  flex-grow: 1;
}

.ChapterControl span > * {
  flex-basis: 50%;
}

#ScrollControl .icon-tabler,
#GlobalFunctions .icon-tabler {
  width: 25px;
  height: 25px;
}

#GlobalFunctions #ZoomSlider {
  display: flex;
  align-items: center;
}

#GlobalFunctions #Zoom {
  margin: 2px 5px;
  width: 160px;
}

#GlobalFunctions #ZoomVal {
  width: 40px;
  display: inline-block;
  color: var(--theme-primary-text-color);
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: var(--theme-primary-color);
  padding: 2px 5px;
}

#ChapterNavigation {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: end;
  padding: 5px;
  max-width: 350px;
}

#Counters {
  padding-right: 5px;
}

#ChapterControl {
  display: flex;
}

#ChapterControl .NavigationControlButton {
  display: inline-flex;
  margin: 2px;
  justify-content: center;
  align-items: center;
  padding: 3px;
  gap: 0.5em;
}

#ChapterControl .NavigationControlButton .icon-tabler {
  flex-shrink: 0;
  align-self: center;
  width: 1rem;
  height: 1rem;
}

#ChapterControl .NavigationControlButton[href="#"],
#ChapterControl .NavigationControlButton[href=""],
#ChapterControl .NavigationControlButton[href="undefined"] {
  visibility: hidden;
}

#ChapterControl #download.loading {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
}

#ChapterControl .NavigationControlButton.disabled {
  pointer-events: none;
  filter: grayscale(0.9);
}

.ViewerTitle {
  text-align: center;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  flex-basis: 60%;
}
