#Header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
  transition: transform 0.3s ease-in;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--theme-background-color);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  z-index: 900;
}

#Header.click {
  padding-left: 40px;
}

@keyframes headroom {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

#Header:not(.visible, .headroom-top, .fixed, .simple) {
  animation: headroom 0.3s ease-in reverse;
  transform: translateY(-100%);
  position: sticky;
  top: 0;
}

#Header.scroll.headroom-hide:not(.visible) {
  animation: none;
  transform: translateY(-100%);
  position: sticky;
  top: 0;
}

#Header.scroll.headroom-show,
#Header.headroom-end,
#Header.visible {
  animation: headroom 0.3s ease-in;
  transform: translateY(0%);
  position: sticky;
  top: 0;
}

#Header.headroom-top {
  animation: none;
}

#Header.fixed {
  position: sticky;
  animation: none;
  top: 0;
  transform: translateY(0%);
}

#Header.simple {
  position: static;
  animation: none;
  top: 0;
  transform: translateY(0%);
}

#menu {
  position: fixed;
  z-index: 1;
  color: var(--theme-body-text-color);
  height: 40px;
  width: 40px;
}

#menu:not(.click),
#menu.hide {
  display: none;
}

#menu.click {
  z-index: 901;
}

#MangaTitle {
  padding: 2px;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 400;
  word-wrap: anywhere;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 200px;
  max-width: 40vw;
}

#GlobalFunctions {
  display: flex;
  gap: 3px;
  padding: 3px 3px 3px 0;
  flex-wrap: wrap;
  z-index: 100;
}
