#KeybindingsPanel div {
  line-height: 1.5em;
}

#KeybindingsPanel #KeybindingsList {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
}

#KeybindingsPanel .ControlButton {
  margin-left: 3px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  gap: 0.5em;
}

#KeybindingsPanel label {
  display: ruby;
}

#KeybindingsPanel input {
  display: inline-block;
  width: 100%;
}

#KeybindingsPanel #HotKeysRules {
  grid-column: span 2;
}
