:root {
    --theme-body-background: #25262b;
    --theme-body-text-color: #c1c2c5;
    --theme-text-color: #c1c2c5;
    --theme-primary-color: #1a1b1e;
    --theme-primary-text-color: #c1c2c5;
    --theme-background-color: #25262b;
    --theme-hightlight-color: #2c2e33;
    --theme-border-color: #373a40;
}

#MangaOnlineViewer {
    padding-bottom: 40px;
    min-height: 760px;
    min-width: 360px;
    text-decoration: none;
    color: var(--theme-body-text-color);
    background-color: var(--theme-body-background);
}

#MangaOnlineViewer #Chapter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    min-width: 225px;
}

#MangaOnlineViewer #Chapter.FluidLTR {
    direction: ltr;
}

#MangaOnlineViewer #Chapter.FluidRTL {
    direction: rtl;
}

#MangaOnlineViewer #Chapter.FluidLTR,
#MangaOnlineViewer #Chapter.FluidRTL {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#MangaOnlineViewer #Chapter.FluidLTR .PageImg,
#MangaOnlineViewer #Chapter.FluidRTL .PageImg {
    min-width: unset;
}

#MangaOnlineViewer #Chapter.FluidLTR .MangaPage.DoublePage,
#MangaOnlineViewer #Chapter.FluidRTL .MangaPage.DoublePage {
    grid-column: span 2;
}

#MangaOnlineViewer #Chapter.FluidLTR .MangaPage:not(.DoublePage):nth-child(2n),
#MangaOnlineViewer #Chapter.FluidRTL .MangaPage:not(.DoublePage):nth-child(2n) {
    display: flex;
    justify-content: start;
}

#MangaOnlineViewer #Chapter.FluidLTR .MangaPage:not(.DoublePage):nth-child(2n-1),
#MangaOnlineViewer #Chapter.FluidRTL .MangaPage:not(.DoublePage):nth-child(2n-1) {
    display: flex;
    justify-content: end;
}

#MangaOnlineViewer #Chapter.Vertical .PageContent {
    margin-bottom: 15px;
}

#MangaOnlineViewer #Chapter.FluidLTR .MangaPage,
#MangaOnlineViewer #Chapter.FluidRTL .MangaPage {
    width: auto;
}

#MangaOnlineViewer #Chapter.FluidLTR .ZoomWidth .icon-tabler,
#MangaOnlineViewer #Chapter.FluidRTL .ZoomWidth .icon-tabler {
    color: red;
}

#MangaOnlineViewer .closeButton {
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 10px;
    top: 10px;
}

#MangaOnlineViewer .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 950;
    cursor: pointer;
}

#MangaOnlineViewer .overlay.visible {
    display: block;
}

#MangaOnlineViewer select {
    height: 20px;
    padding: 0;
    margin-bottom: 5px;
}

#MangaOnlineViewer .ControlButton {
    cursor: pointer;
    border-radius: 5px;
    border-width: 1px;
    padding: 2px;
    min-height: 32px;
    color: var(--theme-primary-text-color);
    background-color: var(--theme-primary-color);
    border-color: var(--theme-border-color);
}

#MangaOnlineViewer .ControlButton:hover {
    opacity: 0.8;
}

#MangaOnlineViewer .panel {
    padding: 5px;
    position: inherit;
    border-radius: 5px;
    background-color: var(--theme-background-color);
}

#MangaOnlineViewer .fitWidthIfOversize .PageContent .PageImg {
    max-width: 100%;
}

#MangaOnlineViewer .ControlButton.hidden,
#MangaOnlineViewer.light #ColorScheme > .icon-tabler-sun,
#MangaOnlineViewer:not(.light) #ColorScheme > .icon-tabler-moon,
#MangaOnlineViewer .ChapterControl #download.loading > .icon-tabler-file-download,
#MangaOnlineViewer .ChapterControl #download:not(.loading) > .icon-tabler-loader-2,
#MangaOnlineViewer .MangaPage.hide .ControlButton.Hide > .icon-tabler-eye-off,
#MangaOnlineViewer .MangaPage:not(.hide) .ControlButton.Hide > .icon-tabler-eye,
#MangaOnlineViewer.bookmarked .ControlButton.Bookmark > .icon-tabler-bookmark,
#MangaOnlineViewer:not(.bookmarked) .ControlButton.Bookmark > .icon-tabler-bookmark-off,
#MangaOnlineViewer #CommentsPanel.hide,
#MangaOnlineViewer #CommentsArea.hide {
    display: none;
}

#MangaOnlineViewer.hideControls .PageFunctions {
    visibility: hidden;
}

#MangaOnlineViewer #CommentsPanel {
    padding: 10px;
}

#MangaOnlineViewer #CommentsArea {
    background: var(--theme-body-background);
}

#MangaOnlineViewer #CommentsButton {
    display: flex;
    justify-content: center;
    align-items: center;
}
