#Header.mobile,
#Header.tablet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0;
  justify-content: center;
}

.mobile #ViewerTitle,
.tablet #ViewerTitle {
  order: 4;
  min-height: auto;
}

.mobile #GlobalFunctions,
.tablet #GlobalFunctions {
  order: 2;
}

.mobile #Toolbar,
.tablet #Toolbar {
  order: 1;
}

#Header.mobile {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#Header.mobile.click + #Chapter:not(.webcomic, .vertical) {
  position: sticky;
}

.tablet #MangaTitle,
.mobile #MangaTitle {
  max-width: 90vw;
}

.mobile #ViewerTitle {
  order: 3;
  margin-top: 0;
  height: auto;
  padding: 0;
}

.mobile #GlobalFunctions,
.tablet #GlobalFunctions {
  order: 2;
}

.mobile .PageFunctions {
  padding: 0;
}

.mobile .PageFunctions .PageButton.Bookmark {
  opacity: 1;
}

.mobile #GlobalFunctions #ZoomSlider,
.tablet #GlobalFunctions #ZoomSlider,
.mobile .PageFunctions .PageButton:not(.Bookmark),
.tablet #Counters,
.mobile #ZoomControl,
.mobile #ZoomDropdown,
.mobile #ViewDropdown,
.mobile #FileDropdown :where(:nth-child(3), :nth-child(4)),
.mobile #BookMode,
.mobile #MangaMode,
.tablet #BookMode,
.tablet #MangaMode {
  display: none;
}
