#Header.mobile,
#Header.tablet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mobile .ViewerTitle,
.tablet .ViewerTitle {
  order: 4;
  min-height: auto;
}

.mobile #GlobalFunctions,
.tablet #GlobalFunctions {
  order: 2;
  width: auto;
  padding: 5px;
}

.mobile #GlobalFunctions span {
  flex-direction: column;
}

.mobile .zoom-container,
.tablet .zoom-container {
  order: 3;
}

.mobile #Toolbar,
.tabler #Toolbar {
  order: 1;
}

#Header.mobile {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#Header.mobile.click + #Chapter:not(.webcomic, .vertical) {
  position: sticky;
}

.mobile #MangaTitle {
  word-wrap: anywhere;
}

.mobile .ViewerTitle {
  order: 3;
  margin-top: 0;
  height: auto;
  padding: 0;
}

.mobile #GlobalFunctions {
  order: 2;
  padding: 0;
  width: auto;
}

.mobile #ChapterNavigation {
  order: 3;
  width: min-content;
  min-width: 205px;
}

.mobile .ChapterControl {
  flex-direction: row;
  flex-wrap: wrap;
}

.mobile .ChapterControl .NavigationButton {
  flex-grow: 1;
}

.mobile .PageFunctions {
  padding: 0;
}

.mobile .PageFunctions .PageButton.Bookmark {
  opacity: 1;
}

.mobile #GlobalFunctions #ZoomSlider,
.tablet #GlobalFunctions #ZoomSlider,
.mobile #GlobalFunctions .HeaderButton:not(.tablets, .phones),
.tablet #GlobalFunctions .HeaderButton:not(.tablets, .phones),
.mobile #GlobalFunctions #ZoomSlider,
.mobile #GlobalFunctions .HeaderButton:not(.phones),
.mobile .PageFunctions .PageButton:not(.Bookmark),
.mobile .ChapterControl .download,
.tablet #Counters,
.mobile .zoom-container,
.mobile #ZoomDropdown,
.mobile #ViewDropdown,
.mobile #FileDropdown :where(:nth-child(3), :nth-child(4)) {
  display: none;
}
