@media (max-width: 992px) {
    #MangaOnlineViewer #Header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #MangaOnlineViewer #Header.click {
        padding-left: initial;
    }

    #MangaOnlineViewer .PageContent .PageImg {
        max-width: 100%;
    }

    #MangaOnlineViewer .ViewerTitle {
        order: 1;
        min-height: auto;
        padding: 0;
        margin: 0;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 100%;
    }

    #MangaOnlineViewer #GlobalFunctions {
        /*flex-wrap: nowrap;*/
        width: auto;
        order: 2;
        padding: 5px;
    }

    #MangaOnlineViewer #ChapterNavigation {
        order: 3;
    }

    #MangaOnlineViewer #GlobalFunctions #ZoomSlider,
    #MangaOnlineViewer #GlobalFunctions .ControlButton:not(.tablets, .phones) {
        display: none;
    }
}

/* Small devices (portrait phones) */
@media (max-width: 600px) {
    #MangaOnlineViewer #Header {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #MangaOnlineViewer #Header.click {
        position: sticky;
    }

    #MangaOnlineViewer #MangaTitle {
        word-wrap: anywhere;
    }

    #MangaOnlineViewer .ViewerTitle {
        order: 1;
        margin-top: 0;
        height: auto;
        padding: 0;
    }

    #MangaOnlineViewer #GlobalFunctions {
        order: 2;
        padding: 0;
        width: auto;
        flex-basis: 35px;
    }

    #MangaOnlineViewer #ChapterNavigation {
        order: 3;
        width: min-content;
        min-width: 205px;
    }

    #MangaOnlineViewer .ChapterControl {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #MangaOnlineViewer .ChapterControl .NavigationControlButton {
        flex-grow: 1;
    }

    #MangaOnlineViewer .PageFunctions {
        padding: 0;
    }

    #MangaOnlineViewer .PageFunctions .ControlButton.Bookmark {
        opacity: 1;
    }

    #MangaOnlineViewer .PageContent {
        margin: 0;
        width: 100%;
    }

    #MangaOnlineViewer .PageContent .PageImg {
        max-width: 100%;
    }

    #MangaOnlineViewer #Navigation,
    #MangaOnlineViewer #GlobalFunctions #ZoomSlider,
    #MangaOnlineViewer #GlobalFunctions .ControlButton:not(.phones),
    #MangaOnlineViewer .PageFunctions .ControlButton:not(.Bookmark),
    #MangaOnlineViewer #SettingsPanel .DefaultZoomMode,
    #MangaOnlineViewer #SettingsPanel .DefaultZoom,
    #MangaOnlineViewer #SettingsPanel .viewMode,
    #MangaOnlineViewer #SettingsPanel .fitIfOversize,
    #MangaOnlineViewer #SettingsPanel .showThumbnails,
    #MangaOnlineViewer #SettingsPanel .lazyLoadImages,
    #MangaOnlineViewer #SettingsPanel .downloadZip,
    #MangaOnlineViewer #SettingsPanel .minZoom,
    #MangaOnlineViewer #SettingsPanel .zoomStep,
    #MangaOnlineViewer #SettingsPanel .headerType,
    #MangaOnlineViewer #SettingsPanel .autoScroll,
    #MangaOnlineViewer #KeybindingsPanel,
    #MangaOnlineViewer .ChapterControl .download,
    #MangaOnlineViewer #Counters {
        display: none;
    }
}
