#MangaOnlineViewer.mobile #Header,
#MangaOnlineViewer.tablet #Header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#MangaOnlineViewer.mobile #Header.click + #Chapter:not(.webcomic, .vertical),
#MangaOnlineViewer.tablet #Header.click + #Chapter:not(.webcomic, .vertical) {
    padding-left: initial;
}

#MangaOnlineViewer.mobile #Header.click.headroom-end + #Chapter:not(.webcomic, .vertical),
#MangaOnlineViewer.tablet #Header.click.headroom-end + #Chapter:not(.webcomic, .vertical) {
    transform: translateY(0%);
    position: sticky;
    top: 0;
}

#MangaOnlineViewer.mobile .ViewerTitle,
#MangaOnlineViewer.tablet .ViewerTitle {
    order: 1;
    min-height: auto;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

#MangaOnlineViewer.mobile #GlobalFunctions,
#MangaOnlineViewer.tablet #GlobalFunctions {
    width: auto;
    order: 2;
    padding: 5px;
}

#MangaOnlineViewer.mobile #ChapterNavigation,
#MangaOnlineViewer.tablet #ChapterNavigation {
    order: 3;
}

#MangaOnlineViewer.mobile #GlobalFunctions #ZoomSlider,
#MangaOnlineViewer.tablet #GlobalFunctions #ZoomSlider,
#MangaOnlineViewer.mobile #GlobalFunctions .ControlButton:not(.tablets, .phones),
#MangaOnlineViewer.tablet #GlobalFunctions .ControlButton:not(.tablets, .phones) {
    display: none;
}

#MangaOnlineViewer.mobile #Header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#MangaOnlineViewer.mobile #Header.click + #Chapter:not(.webcomic, .vertical) {
    position: sticky;
}

#MangaOnlineViewer.mobile #MangaTitle {
    word-wrap: anywhere;
}

#MangaOnlineViewer.mobile .ViewerTitle {
    order: 1;
    margin-top: 0;
    height: auto;
    padding: 0;
}

#MangaOnlineViewer.mobile #GlobalFunctions {
    order: 2;
    padding: 0;
    width: auto;
    flex-basis: 35px;
}

#MangaOnlineViewer.mobile #ChapterNavigation {
    order: 3;
    width: min-content;
    min-width: 205px;
}

#MangaOnlineViewer.mobile .ChapterControl {
    flex-direction: row;
    flex-wrap: wrap;
}

#MangaOnlineViewer.mobile .ChapterControl .NavigationControlButton {
    flex-grow: 1;
}

#MangaOnlineViewer.mobile .PageFunctions {
    padding: 0;
}

#MangaOnlineViewer.mobile .PageFunctions .ControlButton.Bookmark {
    opacity: 1;
}


#MangaOnlineViewer.mobile #Navigation,
#MangaOnlineViewer.mobile #GlobalFunctions #ZoomSlider,
#MangaOnlineViewer.mobile #GlobalFunctions .ControlButton:not(.phones),
#MangaOnlineViewer.mobile .PageFunctions .ControlButton:not(.Bookmark),
#MangaOnlineViewer.mobile #SettingsPanel .DefaultZoomMode,
#MangaOnlineViewer.mobile #SettingsPanel .DefaultZoom,
#MangaOnlineViewer.mobile #SettingsPanel .fitIfOversize,
#MangaOnlineViewer.mobile #SettingsPanel .showThumbnails,
#MangaOnlineViewer.mobile #SettingsPanel .lazyLoadImages,
#MangaOnlineViewer.mobile #SettingsPanel .downloadZip,
#MangaOnlineViewer.mobile #SettingsPanel .minZoom,
#MangaOnlineViewer.mobile #SettingsPanel .zoomStep,
#MangaOnlineViewer.mobile #SettingsPanel .headerType,
#MangaOnlineViewer.mobile #SettingsPanel .autoScroll,
#MangaOnlineViewer.mobile #KeybindingsPanel,
#MangaOnlineViewer.mobile .ChapterControl .download,
#MangaOnlineViewer.mobile #Counters {
    display: none;
}
