:host {
  --nav-collapsed-size: 34px;
  --nav-expanded-size: 200px;
  --header-height: 80px;
}
#Navigation {
  color: var(--theme-text-color);
  background-color: var(--theme-hightlight-color);
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  gap: 5px;
  white-space: nowrap;
  text-align: center;
  line-height: 0;
  transition: all 0.3s ease;
  position: fixed;
  z-index: 1000;
}
#Thumbnails {
  flex-grow: 1;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
}
#Navigation.horizontal #Thumbnails {
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}
#Navigation.vertical #Thumbnails {
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  justify-content: flex-start;
}
#Navigation.left #Thumbnails {
  direction: rtl;
}
:host(:not([forceExpanded])) #Navigation:not(:hover) #Thumbnails {
  display: none;
}
#NavigationCounters {
  flex-shrink: 0; /* Prevent this from shrinking */
  padding: 5px;
  line-height: 1rem;
  text-align: center;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
/* == Horizontal Orientation (for top/bottom position) == */
#Navigation.horizontal {
  flex-direction: column;
  height: var(--nav-collapsed-size);
  width: 100%;
  left: 0;
  right: 0;
}
:host([forceExpanded]) #Navigation.horizontal,
#Navigation.horizontal:hover {
  height: var(--nav-expanded-size);
}
#Navigation.bottom {
  bottom: 0;
}
/* == Vertical Orientation (for left/right position) == */
#Navigation.vertical {
  flex-direction: row;
  width: var(--nav-collapsed-size);
  height: 100%;
  bottom: 0;
  transition:
    top 0.3s ease,
    height 0.3s ease,
    width 0.3s ease;
}
:host([forceExpanded]) #Navigation.vertical,
#Navigation.vertical:hover {
  width: var(--nav-expanded-size);
}
#Navigation.left {
  left: 0;
  flex-direction: row-reverse;
}
#Navigation.right {
  right: 0;
}
#Navigation.vertical #NavigationCounters {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
#Navigation.right #NavigationCounters {
  transform: rotate(0deg);
}
/* Adjust for header visibility */
#Navigation.vertical.header {
  top: var(--header-height);
  height: calc(100% - var(--header-height));
}

#Navigation .Thumbnail {
  display: inline-flex;
  height: 150px;
  width: 150px;
  margin: 0 5px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.ThumbnailIndex {
  color: var(--mov-color-on-loud);
  background-color: var(--mov-color-fill-loud);
  display: block;
  opacity: 0.9;
  position: absolute;
  left: 0;
  bottom: 30%;
  width: 100%;
  line-height: 1.2rem;
  text-align: center;
  font-weight: 600;
  z-index: 1;
}
.ThumbnailImg {
  cursor: pointer;
  display: inline-block;
  max-height: 150px;
  min-height: 150px;
  min-width: 80px;
  max-width: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px 48px;
}
