.MangaPage {
  width: 100%;
  display: inline-block;
  text-align: center;
  line-height: 0;
  min-height: 22px;
  min-width: 100%;
}

.PageContent {
  text-align: center;
  display: inline-block;
  overflow-x: auto;
  max-width: 100%;
  transition: all 0.3s ease-in-out;
  height: 100%;
  overflow-y: hidden;
}

.MangaPage.hide .PageContent {
  height: 0;
}

.PageContent .PageImg[src=""],
.PageContent .PageImg:not([src]),
.PageContent .PageImg.imgBroken {
  width: 40vw;
  height: 80vh;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20%;
  background-color: var(--theme-hightlight-color);
  position: relative;
  text-align: center;
  line-height: 80vh;
  vertical-align: top;
  color: var(--theme-text-color);
  font-size: 1rem;
  min-width: 40vw;
  min-height: 50vh;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
}

.PageContent .PageImg[src=""]:before,
.PageContent .PageImg:not([src]):before,
.PageContent .PageImg.imgBroken:before {
  content: attr(alt);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre-wrap;
  text-align: center;
  color: var(--theme-text-color);
  font-size: 1rem;
}

.PageFunctions {
  font-family: monospace;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 3px;
  position: absolute;
  right: 0;
}

.PageFunctions > .PageIndex {
  background-color: var(--theme-primary-color);
  color: var(--theme-primary-text-color);
  min-width: 20px;
  text-align: center;
  display: inline-block;
  padding: 3px 5px;
  line-height: 1rem;
  border-radius: 5px;
}

.PageFunctions .ControlButton {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border-width: 0;
  min-height: auto;
  opacity: 0.5;
}

.PageFunctions:hover .ControlButton {
  opacity: 1;
}

.PageFunctions .ControlButton:hover {
  opacity: 0.9;
}

#Chapter.Vertical .separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: italic;
}

#Chapter.Vertical .separator::before,
#Chapter.Vertical .separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--theme-text-color);
}

#Chapter.Vertical.separator:not(:empty)::before {
  margin-right: 0.25em;
}

#Chapter.Vertical.separator:not(:empty)::after {
  margin-left: 0.25em;
}

#Chapter:not(.separator) .separator,
#Chapter:not(.Vertical) .separator {
  display: none;
}
