:host {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-width: 225px;
  overflow: auto;
  height: 100%;
  width: 100%;
}

.MangaPage.fitWidthIfOversize {
  max-width: 100vw;
  object-fit: contain;
}

.MangaPage.height {
  max-height: 100vh;
  object-fit: contain;
}
