#SettingsPanel {
  color: var(--theme-text-color);
  padding: 10px;
  gap: 5px;
}

#SettingsPanel fieldset {
  border: 1px solid var(--theme-body-text-color);
  padding: 3px;
  border-radius: 10px;
}

#SettingsPanel .ControlLabel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

#SettingsPanel .ControlLabelItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#SettingsPanel .ControlLabelItem:not(.show) {
  display: none;
}

#SettingsPanel input[type="range"] {
  width: 100%;
}

#SettingsPanel .RangeValue {
  display: inline-block;
  color: var(--mov-color-on-loud);
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: var(--mov-color-fill-loud);
  padding: 2px 5px;
  margin-left: 8px;
}

#SettingsPanel datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

#SettingsPanel datalist option {
  padding: 0;
  writing-mode: vertical-lr;
}

#ThemeSelector {
  width: 110px;
}

#ColorRecommendations {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
}
#Chapter:not(.Vertical) ~ #SettingsPanel .verticalSeparator {
  display: none;
}

#ColorScheme {
  padding: 5px;
  min-height: 28px;
  min-width: 28px;
}

#ResetSettings,
#ResetSettings::part(base) {
  width: 100%;
}
