#SettingsPanel {
  color: var(--theme-text-color);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  transition:
    transform 0.3s ease-in,
    background-color 0.3s linear;
  transform: translateX(-100%);
  display: flex;
  flex-flow: column;
  gap: 5px;
  overflow-y: auto;
  max-width: 100vw;
  width: 308px;
}

#SettingsPanel.visible {
  transform: translateX(0);
}

#SettingsPanel fieldset {
  border: 1px solid var(--theme-body-text-color);
  padding: 3px;
  border-radius: 10px;
}

#SettingsPanel .ControlLabel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

#SettingsPanel .ControlLabelItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#SettingsPanel .ControlLabelItem:not(.show) {
  display: none;
}

#SettingsPanel input[type="range"] {
  width: 100%;
}

#SettingsPanel .RangeValue {
  display: inline-block;
  color: var(--theme-primary-text-color);
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: var(--theme-primary-color);
  padding: 2px 5px;
  margin-left: 8px;
}

#SettingsPanel datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  writing-mode: vertical-lr;
  width: 100%;
}

#SettingsPanel datalist option {
  padding: 0;
}

#ThemeSelector {
  width: 110px;
}

#Chapter:not(.Vertical) ~ #SettingsPanel .verticalSeparator {
  display: none;
}

#ColorScheme {
  padding: 5px;
  min-height: 28px;
  min-width: 28px;
}
