{
  "presets": [
    [
      "airbnb",
      {
        "targets": "Firefox ESR"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-external-helpers",
    "babel-plugin-remove-template-literals-whitespace"
  ]
}
