# Enforce CRLF on all text files
* text=auto eol=crlf

# Ensure specific types use CRLF
*.ts text eol=crlf
*.json text eol=crlf
*.html text eol=crlf
*.css text eol=crlf
*.svg text eol=crlf
*.md text eol=crlf
*.jsonc text eol=crlf
