html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background-color: #fff;
    padding: 0;
}

a {
    color: #08c;
    text-decoration: none;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    border: 0 none;
}

#nprogress .bar {
    background: #29d;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

#MangaOnlineViewer {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    min-height: 1080px;
}

#MangaOnlineViewer #Chapter {
    text-align: center;
    margin: 25px auto 0;
    display: block;
}

#MangaOnlineViewer #Chapter.WebComic .PageFunctions {
    position: relative;
    margin-bottom: -23px;
}

#MangaOnlineViewer #Chapter.WebComic .PageContent {
    margin-bottom: 0;
    line-height: 0;
}

#MangaOnlineViewer #Chapter.FluidLTR .MangaPage {
    width: auto;
}

#MangaOnlineViewer #Chapter.FluidRTL .MangaPage {
    width: auto;
}

#MangaOnlineViewer #Chapter.FluidLTR {
    direction: ltr;
}

#MangaOnlineViewer #Chapter.FluidRTL {
    direction: rtl;
}

#MangaOnlineViewer #ViewerControls {
    padding: 8px;
    position: fixed;
    top: 0;
    left: 405px;
    width: auto;
    display: none;
}

#MangaOnlineViewer #ViewerShortcuts {
    padding: 8px;
    position: fixed;
    top: 65px;
    left: 0;
}

#MangaOnlineViewer #ViewerControls .controlLabel {
    display: list-item;
    list-style: none;
}

#MangaOnlineViewer select {
    height: 20px;
    padding: 0;
    margin-bottom: 5px;
}

#MangaOnlineViewer .controlButton {
    cursor: pointer;
    border: 0 none;
}

#MangaOnlineViewer #ImageOptions {
    left: 0;
    position: absolute;
    top: 0;
    width: 405px;
}

#MangaOnlineViewer #ImageOptions .panel {
    padding: 5px;
    position: inherit;
}

#MangaOnlineViewer #ImageOptions:hover {
    position: fixed;
}

#MangaOnlineViewer #ImageOptions.settingsOpen {
    position: fixed;
}

#MangaOnlineViewer #ImageOptions #menu {
    position: fixed;
    height: 64px;
    width: 200px;
    top: 0;
}

#MangaOnlineViewer #ImageOptions #Zoom {
    position: absolute;
    left: 18px;
    bottom: -65px;
}

#MangaOnlineViewer .MangaPage {
    width: 100%;
    display: inline-block;
    text-align: center;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

#MangaOnlineViewer .PageContent {
    margin: 0 0 15px;
    text-align: center;
    display: inline-block;
}

#MangaOnlineViewer .PageContent img[src=''],
#MangaOnlineViewer .PageContent img:not([src]) {
    width: 500px;
    height: 750px;
    display: inline-block;
}

#MangaOnlineViewer #gotoPage {
    width: 35px;
}

#MangaOnlineViewer #ThemeSelector {
    width: 110px;
}

#MangaOnlineViewer .ChapterControl {
    margin-right: 120px;
    margin-top: 1px;
    float: right;
}

#MangaOnlineViewer .ChapterControl a {
    display: inline-block;
    width: 80px;
    height: 25px;
    text-align: center;
    margin-left: 3px;
    margin-bottom: -1px;
}

#MangaOnlineViewer .ChapterControl a[href='#'],
#MangaOnlineViewer .ChapterControl a[href=''] {
    visibility: hidden;
}

#MangaOnlineViewer .ViewerTitle {
    display: block;
    text-align: center;
    height: 35px;
}

#MangaOnlineViewer #Counters {
    position: absolute;
    right: 10px;
    top: 10px;
}

#MangaOnlineViewer .PageFunctions {
    font-family: monospace;
    font-size: 10pt;
    padding-right: 120px;
    text-align: right;
}

#MangaOnlineViewer .PageFunctions > span {
    min-width: 20px;
    text-align: center;
    display: inline-block;
    padding: 2px 10px;
}

#MangaOnlineViewer .PageFunctions > a {
    height: 16px;
    width: 16px;
    padding: 10px;
}

#MangaOnlineViewer .PageFunctions a {
    opacity: 0.2;
}

#MangaOnlineViewer .PageFunctions:hover a {
    opacity: 1;
}

#MangaOnlineViewer.hideControls .PageFunctions {
    display: none;
    visibility: hidden;
}

#MangaOnlineViewer #NavigationCounters {
    margin-top: 5px;
    width: 100%;
}

#MangaOnlineViewer #Navigation {
    bottom: -180px;
    height: 190px;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-bottom: 20px;
    position: fixed;
    white-space: nowrap;
    width: 100%;
    text-align: center;
}

#MangaOnlineViewer #Navigation #Thumbnails {
    overflow-x: auto;
    overflow-y: hidden;
}

#MangaOnlineViewer #Navigation:hover {
    bottom: 0;
}

#MangaOnlineViewer #Navigation.disabled {
    display: none;
}

#MangaOnlineViewer #Navigation.visible {
    bottom: 0;
}

#MangaOnlineViewer #Navigation .Thumbnail {
    display: inline-block;
    height: 150px;
    margin: 0 5px;
    position: relative;
}

#MangaOnlineViewer #Navigation .Thumbnail span {
    display: block;
    opacity: 0.8;
    position: relative;
    top: -30px;
    width: 100%;
}

#MangaOnlineViewer #Navigation .Thumbnail img {
    align-content: center;
    cursor: pointer;
    display: inline-block;
    margin-bottom: -10px;
    margin-top: 10px;
    max-height: 150px;
    min-height: 150px;
    min-width: 80px;
    max-width: 160px;
}

#MangaOnlineViewer #Navigation .nav {
    transform: rotate(-90deg);
}

#MangaOnlineViewer #ImageOptions .menuOuterArrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid blue;
    display: inline-block;
    position: absolute;
    bottom: 0;
}

#MangaOnlineViewer #ImageOptions .menuInnerArrow {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
    left: -10px;
    position: absolute;
    top: -5px;
    display: inline-block;
}

#MangaOnlineViewer.mobile * {
    float: none !important;
}

#MangaOnlineViewer.mobile #Navigation {
    display: none;
}

#MangaOnlineViewer.mobile .PageFunctions {
    padding: 0;
}

#MangaOnlineViewer.mobile .PageFunctions a:not(.Bookmark) {
    display: none;
}

#MangaOnlineViewer.mobile .PageFunctions a.Bookmark {
    opacity: 1;
}

#MangaOnlineViewer.mobile .PageFunctions span {
    right: 0;
    position: inherit;
    text-align: center;
}

#MangaOnlineViewer.mobile .PageContent {
    margin: 0;
    width: 100%;
}

#MangaOnlineViewer.mobile .PageContent img {
    width: 100% !important;
}

#MangaOnlineViewer.mobile .fitWidthIfOversized .PageContent img {
    max-width: 100%;
}

#MangaOnlineViewer.mobile #ImageOptions img:not(#settings) {
    display: none;
}

#MangaOnlineViewer.mobile #ViewerShortcuts {
    display: none !important;
}

#MangaOnlineViewer.mobile #ViewerControls {
    padding: 8px;
    position: fixed;
    top: 0;
    left: 45px;
    width: auto;
}

#MangaOnlineViewer.mobile #ViewerControls span.DefaultZoom,
#MangaOnlineViewer.mobile #ViewerControls span.viewMode,
#MangaOnlineViewer.mobile #ViewerControls span.fitIfOversized,
#MangaOnlineViewer.mobile #ViewerControls span.showThumbnails,
#MangaOnlineViewer.mobile #ViewerControls span.lazyLoadImages,
#MangaOnlineViewer.mobile #ViewerControls span.downloadZip {
    display: none;
}

#MangaOnlineViewer.mobile #ViewerControls {
    padding: 8px;
    position: fixed;
    top: 0;
    left: 45px;
    width: auto;
}

#MangaOnlineViewer.mobile #ImageOptions #menu {
    display: none;
}

#MangaOnlineViewer.mobile #ImageOptions #Zoom {
    display: none;
}

#MangaOnlineViewer.mobile .ViewerTitle {
    height: auto;
}

#MangaOnlineViewer.mobile .ChapterControl {
    margin: 10px;
    display: block;
    text-align: center;
}

#MangaOnlineViewer.mobile .ChapterControl .download {
    display: none;
}

#MangaOnlineViewer.mobile #Counters {
    position: inherit;
    text-align: center;
    margin: 10px;
}

#MangaOnlineViewer.mobile #Chapter {
    margin: 5px auto 0;
}

#MangaOnlineViewer .fitWidthIfOversized .PageContent img {
    max-width: 100%;
}

#MangaOnlineViewer .minicolors-theme-default .minicolors-swatch {
    top: 2px;
    left: 2px;
}
