#pagesSlider {
    margin: 10px 0;
}

.pageInput{
    width: 5em;
    border: 1px darkblue dashed;
    border-radius: 5px;
    text-align: center;
    background: aliceblue;
    color: black;
}

#swal2-title {
    color: navy;
}

button.swal2-styled {
    position: inherit;
    transform: inherit;
}